# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

AmetrinTest/src/generated
AmetrinTest/src/main/resources/assets
AmetrinTest/src/main/resources/data

repo